.container{
 border: 2px solid red;
 width: 70%;
 height: 80vh ;   
 margin: 90px 0px 0px 300px;
}
#details-of-store{
    position: relative;
    border: 2px solid blue;
    width: 50%;
    /* display: inline-block; */

    height: 100%;
}
#your-message{
    position: relative;
    border: 2px solid green;
    width: 50%;
    height: 100%;
    /* display: inline-block; */

}
.displaynow{
    display: inline-block;

}
.primarycontainer{
    /* display: inline-block; */

}

h1 p {
text-align: center;
}